@font-face {
  font-family: goodTimes;
  src: url(./assets/fonts/good-times-rg.woff2);
}

.fontGoodTimes {
  font-family: goodTimes, sans-serif;
}

.fontTitle {
  cursor: default;
  font-size: 18px;
  text-decoration: none;
  color: #eee;
}

.bgBlack {
  background-color: #000;
}

.background-image {
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.size {
  height: 50vh;
}

.slick-prev,
.slick-next {
  background-color: gray !important; /* Change the arrow background to gray */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 1;
}

.slick-prev:before,
.slick-next:before {
  color: white; /* Set the arrow icon color */
  font-size: 20px;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: darkgray !important; /* Change on hover */
}
